<!DOCTYPE html>
<html lang="ru">
  <head>
      {# Load the tag library #}
      {% load bootstrap3 %}
      {% load staticfiles %}
      {# Load CSS and JavaScript #}
      <link href="{% static 'generator/css/style.css' %}" rel="stylesheet">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>AGAT</title>
      <!-- Bootstrap -->
      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}
      {% bootstrap_css %}
      <link href="{% static 'generator/css/font-awesome.min.css' %}" rel="stylesheet">
      <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
       <![endif]-->
  </head>
  <body>    
   <header>
         {% include "generator/nav.html"%}
      </header>            
    <main>
        <div class="container">
            <div class="row">
                {% if task %}
                    {% include task.pass %}
                    {% include "generator/sidebar.html" %}
                {% else %}
                    {% include "generator/main.html"%}
                {% endif %}
            </div>
        </div>
    </main>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% bootstrap_javascript %}
  </body>
</html>