<div align="center">
 <h2> Добро пожаловать в автоматизированную систему выдачи заданий AGAT. </h2>
    {% if not user.is_authenticated %}
        Пожалуйста войдите в систему что бы продолжить работу
    {% endif %}
</div>
<div align="center" style="margin-top: 50px; font-size: 18px">
    <p>
        Данная система предназначана для студентов и преподавателей вузов.
        Она позваляет быстро генерировать уникальные домашние работы по линейной алгебре и аналитической геометрии.
    </p>
</div>