{% load bootstrap3 %}
{% load staticfiles %}
<aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
    <ul class="myside">
        {% for cur_task in user.gentask_set.all %}
            <li><i class="fa
            {% if cur_task.status == 1 %}
                fa-spinner
            {% elif cur_task.status == 2  %}
                fa-clock-o
            {% elif cur_task.status == 3  %}
                fa-check
            {% elif cur_task.status == 4  %}
                fa-times
            {% endif %}
                " aria-hidden="true"></i>
                <a href="
                   {% if cur_task.status > 1 %}
                   download/{{ cur_task.taskId }}
                   {% else %}
                    #
                    {% endif %}
                ">{{ cur_task }} </a></li>
        {% endfor %}
    </ul>
    <form action="{{ task.gen_pass }}" method="post"  role="form" class="form">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-success">Сгенерировать</button>
        {% endbuttons %}
    </form>
</aside>