{% load bootstrap3 %}
{% load staticfiles %}
<aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
    <ul class="myside">
        <li><i class="fa fa-check" aria-hidden="true"></i>Попытка 1</li>
        <li><i class="fa fa-clock-o" aria-hidden="true"></i>Попытка 2</li>
        <li><i class="fa fa-times" aria-hidden="true"></i>Попытка 3</li>
        <li><i class="fa fa-spinner" aria-hidden="true"></i>Попытка 4</li>
    </ul>
    <form action="{{ task.gen_pass }}" method="post"  role="form" class="form">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-success">Сгенерировать</button>
        {% endbuttons %}
    </form>
</aside>