{% load bootstrap3 %}
{% load staticfiles %}
<aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
    <ul class="myside">
        {% for cur_task in user.gentask_set.all %}
            <li><i class="fa {{ cur_task.icon.icon }}" aria-hidden="true"></i>
                <a href="
                   {% if cur_task.status > 1 %}
                   /download/{{ cur_task.taskId.id }}/
                   {% else %}
                    #
                    {% endif %}
                " target="_blank">{{ cur_task }} </a></li>
        {% endfor %}
    </ul>
    <form action="{{ task.gen_pass }}" method="post"  role="form" class="form">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-success">Сгенерировать</button>
        {% endbuttons %}
    </form>
</aside>